{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site de Jean-Claude Convenant !
{% endblock %}

{% block body %}
	{% for message in app.flashes('forbidden') %}
		<div class="alert alert-danger text-center">
			{{ message }}
		</div>
	{% endfor %}
	<div class="row ">
		<div class="col-2 align-self-center">
		<img src="img/jcc.jpg" class="img-thumbnail" alt="...">
		</div>
		<div class="col-10">
			<div class="card bg-secondary mb-3">
				<div class="card-header text-center">
					<h2 class="card-title">Jean-Claude Convenant</h2>
				</div>
				<div class="card-body">
					<p class="card-text">
						<strong>Quelques mots sur moi :
						</strong>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam adipisci exercitationem repellat, omnis voluptatibus iure. Similique cum quisquam placeat, ex, totam numquam est excepturi cupiditate maxime porro in soluta necessitatibus nisi neque. Ipsum beatae nulla tempora fugit. Dolore illum amet, unde quibusdam sint quidem earum, magni id beatae saepe quos perferendis ratione vero velit quas excepturi totam, mollitia deserunt doloribus omnis similique accusantium esse labore. Aspernatur, ratione, ipsa laborum beatae exercitationem totam harum corporis cum facilis cupiditate repellendus atque rem voluptate laboriosam sint ut, dolor veniam natus? Tempora impedit, cum ea veniam doloribus tenetur atque, modi totam odit, minima porro?</p>
				</div>
			</div>
		</div>
	</div>

	<h1 class="text-center mb-3">Les derniers cours</h1>

	{% include 'front/shared/lessons.html.twig' %}

{% endblock %}
