<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css"/>
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <h3>Eric est beau</h3>
        <div id="footer">
            {% block footer %}
                &copy; Copyright {{ "now"|date("Y") }} by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>