{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}

<header>
	<div class="text-center header my-5">
		<div class="mb-5 festTitle name">Jean-claude Convenant</div>
		<div class="lead mb-5 red festSent techno">Pyhton - Data-analyste</div>
		<div class="lead festSent citation">Former, c'est s'effacer et mourir dans l'apprenant !</div>
	</div>
</header>
